<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <header><img src="../assets/logo.svg" alt="fairhouse">Fairhouse</header>
        <section>
            <app-housing-list (locationSelectedEvent)="updateSelectedLocation($event)"></app-housing-list>
        </section>
        <article>
            <ng-container *ngIf="selectedLocation">
                <img [src]="selectedLocation?.photo">
                <p>{{selectedLocation?.name}}</p>
                <p>{{selectedLocation?.availableUnits}}</p>
                <p>{{selectedLocation?.city}}, {{selectedLocation?.state}}</p>
                <p>{{selectedLocation?.laundry ? "Has laundry" : "Does Not have laundry"}}</p>
                <p>{{selectedLocation?.wifi ? "Has wifi" : "Does Not have wifi"}}</p>
            </ng-container>
        </article>
    </main>
</body>

</html>